html {
    font-size: 10px;
    background: url("images/drum.jpeg");
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.key {
    border: .2rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    color: white;
    background: rgba(51, 72, 141, .5);
    text-shadow: 0 0 .5rem black;
    text-align: center;
    width: 10rem;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.playing {
    transform: scale(1.2);
    background: rgba(51, 72, 141, .9);
    border-color: white;
    box-shadow: 0 0 1rem rgb(211, 209, 209);
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600
}

